.feed-wrapper {
  display: flex;
  width: 690px;
  height: 224px;
  padding: 23px 20px;
  margin: 1px 0;
  background: #ffffff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 5px #eeeeee;

  .feed-title{
    width: 66.6%;
    line-height: 45px;
    vertical-align: middle;
    margin: 2px;
    color: #000000;
    font-size: 34px;
    font-weight: 700;
    }
  .feed-img{
    width: 33.3%;
    image{
      display: inline-block;
      height: 220px;
      width: 100%;
    }
  }
  }
