.hot-today{
  width: 100%;
  margin: 20px;
  padding-left:20px;
  font-size: 32px;
  line-height:32rpx;
  font-weight: 500;
  color: #000000;
  background: #ffffff;
}
.storiesDate{
  width: 100%;
  margin: 20px;
  padding-left:10px;
  font-size: 32px;
  line-height:32rpx;
  font-weight: 500;
  color: #000000;
}
